/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "current" "5day" "hourly";
  width: 90%;
  margin: 2rem auto;
}

.current {
  grid-area: "current";
}

.hourly {
  grid-area: "hourly";
}

.five-day {
  grid-area: "5day";
}

.title {
  text-align: center;
}

.current {
  width: 100%;
}
.current__geographic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.current__weather {
  position: relative;
}
.current__weather__icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.current__weather__icon img {
  width: 310px;
}
.current__weather__text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 1rem;
}
.current__weather__air {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.hourly {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hourly--wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  overflow-x: auto;
  width: 100%;
}
.hourly__hour {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  min-width: 10rem;
}

/*# sourceMappingURL=main.css.map */
