/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

.dayBackground {
  background-color: rgba(76, 242, 242, 0.432);
  color: #272626;
}

.nightBackground {
  background-color: #272626;
  color: whitesmoke;
}

body {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: clamp(1.5rem, 8vw, 1.6rem);
  font-weight: 900;
}

h2 {
  font-size: clamp(1.4rem, 6vw, 1.4rem);
  font-weight: 400;
}

h3 {
  font-size: clamp(1.2rem, 5vw, 1.2rem);
  font-weight: 400;
}

h4 {
  font-size: clamp(1rem, 4vw, 1rem);
  font-family: 300;
}

p {
  font-size: clamp(0.7rem, 3vw, 1rem);
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  grid-template-areas: "current" "hourly" "5day";
  width: 90%;
  max-width: 62rem;
}

.current {
  grid-area: current;
}

.hourly {
  grid-area: hourly;
}

.five-day {
  grid-area: 5day;
}

.title {
  text-align: center;
}

@media (min-width: 37em) {
  body {
    width: 80%;
  }

  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "current current" "5day hourly";
  }
}
.current {
  width: 100%;
}
.current__geographic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.current__weather {
  position: relative;
}
.current__weather__icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.current__weather__icon img {
  width: 310px;
}
.current__weather__text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0.7rem;
}
.current__weather__air {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.hourly {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.hourly--wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 3rem;
}
.hourly__hour {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.hourly__hour__icon {
  width: 75px;
}
.hourly__hour__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 37em) {
  .hourly--wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 100%;
  }
  .hourly__hour {
    margin: auto;
    max-width: max-content;
  }
}
.five-day--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem 0;
}
.five-day__day {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  grid-template-areas: "date date" "condition temps" "condition wind";
}
.five-day__day__date {
  grid-area: date;
  width: 100%;
}
.five-day__day__condition {
  grid-area: condition;
}
.five-day__day__condition__icon {
  width: 5rem;
  height: 5rem;
}
.five-day__day__temp {
  grid-area: temps;
  display: flex;
  flex-direction: column;
  align-items: start-end;
  justify-content: space-around;
}
.five-day__day__wind {
  grid-area: wind;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 37em) {
  .five-day--wrapper {
    padding-right: 1rem;
    border-right: 2px solid white;
  }
}

/*# sourceMappingURL=main.css.map */
