body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "current"
    "5day"
    "hourly";
  width: 90%;
  margin: 2rem auto;
}

.current {
  grid-area: "current";
}

.hourly {
  grid-area: "hourly";
}

.five-day {
  grid-area: "5day";
}

.title {
  text-align: center;
}
