.current {
  width: 100%;

  &__geographic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__weather {
    position: relative;

    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;

      & img {
        width: 310px;
      }
    }

    &__text {
      display: flex;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      text-align: center;
      bottom: 1rem;
    }

    &__air {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
  }
}
