.hourly {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  &--wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 3rem;
  }

  &__hour {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &__icon {
      width: 75px;
    }

    &__text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media (min-width: 37em) {
  .hourly {
    &--wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
      height: 100%;
    }
    &__hour {
      margin: auto;
      max-width: max-content;
    }
  }
}
